body {
    --nav-width: 10vh;
    margin: 0 0 0 var(--nav-width);
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
}

.nav {
    width: var(--nav-width);
    height: 100vh;
    background: black;
    right:0;
    left:0;
    top:0;
}

.nav__link {
    --button-height: 9vh;
    display: block;
    margin: 5px;
    height: var(--button-height);
    text-decoration: none;
    color: #eeeeee;
    font-weight: 500;
}
.icon {
    height: calc(var(--button-height) * 0.9);
    width: calc(var(--nav-width) * 0.8);
    padding-top:calc(var(--nav-width) * 0.06);
    padding-left: calc(var(--button-height) * 0.06);
}

.nav__link:hover {
    background: rgba(255, 255, 255, 0.05);
}

#main_app {
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    font-weight: 500;
    margin:10px;
}

#notes_app {
    display: flex;
    flex-wrap: wrap;
    line-height: 1.5;
    font-weight: 500;
}

.info_cube {
    border-radius: 10px;
    background-color: #009579;
    outline: #00473a;
    outline-width: 5px;
    margin: 5px;
    text-align: center;
    padding: 15px;
    width: 90vw;
    height: 20vh;

}
.song_bar{
    display: flex;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    background-color: #009579;
    border:none;
    outline-width: 5px;
    margin: 5px;
    text-align: center;
    padding: 15px;
    width: 90vw;
    height: 20vh;
}
.song_bar:hover #plus_sign{
    background-color: #00ecc1;
}
.song_bar:hover {
    background-color: #01bb99;
}

#plus_sign{
    display: block;
    border:none;
    background-color: #01bb99;
    border-radius: 50%;
    height:10vh;
    width:10vh;
    margin: 2px;
}
#plus_sign::before {
    content: "+";
    height:10vh;
    width:10vh;
    font-size:100px;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    font-weight:bold;
    font-family:courier;
    color:white;
  }

.notes_cube{
    background-color: #009579;
    font-size: 15px;
    border-radius: 5px;
    margin: 3px;
    padding: 15px;
    width: 200px;
    height:200px;
}

a.notes__link {
    text-decoration: none;
}

.notes_cube:hover{
    background-color: #01bb99;
}
.new_notes{
    /* display:"flex";
    flex-direction: column; */
    margin: 1000px;
}
#musicbar{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 10vh; 
    position: fixed; 
    bottom:0%;
    width:100%; 
    background-color: #000000; 
    opacity: 1;
    color: white;
}

.music_info{
    margin:10vh;
}
a {
    color: white;
}
#note_add{
    border:none;
    resize: none;
    background-color: #ffffff;
    border-radius: 5px;
}
#notes_title{
    font-size: 50px;
    font-weight: bold;
}

.headerBar {
    width:100vw;
    height: 100px;
    padding: 0;
    background-color: #000000;
    background-repeat: no-repeat;
    background-position:center;
    background-image: url("https://i.postimg.cc/DzGN7mXp/Web-Header.png");
}

.container {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;

}

.mainBody {
    display: flex;
    flex-direction: column;
    padding: 0px;
}

.app_container {
    display: flex;
    height: 100%;
}

.music_buttons{
    border:none;
    background-color: #009579;
    border-radius: 50%;
    height:5vh;
    width:5vh;
    margin: 2px;
}
.music_buttons:hover{
    background-color: #00473a;
}