body {
    --nav-width: 10vh;
    margin: 0 0 0 var(--nav-width);
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
}

.nav {
    width: var(--nav-width);
    height: 100vh;
    background: #000000;
}

.nav__link {
    --button-height: 9vh;
    display: block;
    margin: 5px;
    height: var(--button-height);
    text-decoration: none;
    color: #eeeeee;
    font-weight: 500;
}
.icon {
    height: calc(var(--button-height) * 0.9);
    width: calc(var(--nav-width) * 0.8);
    padding-top:calc(var(--nav-width) * 0.06);
    padding-left: calc(var(--button-height) * 0.06);
}

.nav__link:hover {
    background: rgba(255, 255, 255, 0.05);
}

#main_app {
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    font-weight: 500;
    margin:10px;
}

#notes_app {
    display: flex;
    flex-wrap: wrap;
    line-height: 1.5;
    font-weight: 500;
}

.info_cube {
    border-radius: 10px;
    background-color: #df7126;
    outline: #00473a;
    outline-width: 5px;
    margin: 5px;
    text-align: center;
    padding: 15px;
    width: 90vw;
    height: 20vh;

}
.notes_cube{
    background-color: #009579;
    margin: 1px;
    text-align: center;
    padding: 15px;
    width: 200px;
    height:200px;
}
.notes_cube:hover{
    background-color: #01bb99;
}
.new_notes{
    /* display:"flex";
    flex-direction: column; */
    margin: 1000px;
}


a {
    color: white;
}
.note_add{
    border:none;
    resize: none;
    background-color: #cccccc;
    border-radius: 5px;
}
#notes_title{
    font-size: 50px;
    font-weight: bold;
}

.headerBar {
    width:100vw;
    height: 100px;
    padding: 0;
    background-color: #000000;
    background-repeat: no-repeat;
    background-position:center;
    background-image: url("https://i.postimg.cc/DzGN7mXp/Web-Header.png");
}

.container {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;

}

.mainBody {
    display: flex;
}